@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>My First View</p>
<p>
Her er mit navn @ViewBag.navn
Jeg er @ViewBag.alder år gammel
Jeg er født den @ViewBag.birthday
</p/>