@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Buy and sell stuff here</p>
@section Salesection {
    Denne section hanlder om sales
}
<br />
@section BuySection {
    Denne section handler om buys
}
