@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Sell even more stuff</p>
@section SaleSection {
    Her står der endnu mere info omkring salg!
}
